
body {
line-height: 1.4;
}

img {
vertical-align: middle;
width: 239px;
height: 239px;
}

body {
text-align:center;
background-image:url("../img/palm-trees-03.jpg");
background-repeat:no-repeat;
background-size:cover;
font-family:Arial;
}

.wrapper {
text-align:left;
}

.header {
background:black;
}

.header h1{
width:1060px;
margin:0 auto;
padding:15px 0;       
color:darkgray;
font-size:15px;
}

.content {
width:1060px;      
margin:25px auto;
background:whitesmoke;
text-align:left;
border-radius:5px;
}
          
.content h2 {
margin:5px 0 0 5px;
}

.couponWrap {
padding:15px 15px 25px;
border-radius:10px;
}

.couponWrap:before,
.couponWrap:after {
content: " ";
display: table;
clear: both;
}

.coupon {
float:left;
width:239px;
height:370px;
margin:15px 8px 5px;
border:1px solid darkgray;
border-radius:5px;
background-color:black;
}

.coupon img {
margin:0;
padding:0;
z-index:1;
}

.coupon .description {
display:inline-block;
padding:5px 15px 15px;
background:black;
color:darkgray;
}   

.coupon .description:hover {
cursor:pointer;
}

.coupon h3 {
display:inline-block;
margin:10px auto;
padding:1px 10px 2px;
background-color:teal;
color:whitesmoke;
border-radius:3px;
}

.coupon h3:hover {cursor:pointer;}
            
.coupon p {
cursor:pointer;
}     

.footer {
margin:10px 0;
padding-bottom:150px;
text-align:center;
}
         
.footer .copyright {
color:#fff;
font-size:12px;
}         





